[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jax="*"
dm-haiku="*"
distrax="*"
chex="*"
numpy="*"
optax="*"
matplotlib="*"
pandas="*"
tensorflow="*"
tensorflow_datasets="*"
ipykernel = "*"
torch = "*"
scikit-learn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
neovim = "*"
rope = "*"

[requires]
python_version = "3.8"
